<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="myapplication"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".ViewProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Profil"
            android:exported="false" />
        <activity
            android:name=".ChatRoomActivity"
            android:exported="false" />
        <activity
            android:name=".ChatsActivity"
            android:exported="false" />
        <activity
            android:name=".MyThesRequestActivity"
            android:exported="false" /> <!-- شاشة تسجيل الدخول -->
        <activity
            android:name=".SignInActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- شاشة اختيار الدور -->
        <activity
            android:name=".ChooseRoleActivity"
            android:exported="true" /> <!-- شاشات التسجيل -->
        <activity
            android:name=".EmployeeSignUpActivity"
            android:exported="true" />
        <activity
            android:name=".EmployerSignUpActivity"
            android:exported="true" /> <!-- الصفحة الرئيسية -->
        <activity
            android:name=".MainActivity"
            android:exported="true" /> <!-- إنشاء طلب جديد -->
        <activity
            android:name=".CreateRequestActivity"
            android:exported="false" /> <!-- عرض الطلبات الخاصة -->
        <activity
            android:name=".MyRequestsActivity"
            android:exported="false" /> <!-- تفاصيل الطلب -->
        <activity
            android:name=".RequestDetailsActivity"
            android:exported="false" />
    </application>

</manifest>